@font-face {
  font-family: 'greycliff-cf';
  src: url('greycliffcf-bold-webfont.eot');
  src: url('greycliffcf-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-bold-webfont.woff2') format('woff2'),
        url('greycliffcf-bold-webfont.woff') format('woff'),
        url('greycliffcf-bold-webfont.ttf') format('truetype'),
        url('greycliffcf-bold-webfont.svg#greycliff-cf-bold') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'greycliff-cf';
    src: url('greycliffcf-extrabold-webfont.eot');
    src: url('greycliffcf-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-extrabold-webfont.woff2') format('woff2'),
        url('greycliffcf-extrabold-webfont.woff') format('woff'),
        url('greycliffcf-extrabold-webfont.ttf') format('truetype'),
        url('greycliffcf-extrabold-webfont.svg#greycliff-cf-extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'greycliff-cf';
    src: url('greycliffcf-heavy-webfont.eot');
    src: url('greycliffcf-heavy-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-heavy-webfont.woff') format('woff'),
        url('greycliffcf-heavy-webfont.ttf') format('truetype'),
        url('greycliffcf-heavy-webfont.svg#greycliff-cf-heavy') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'greycliff-cf';
    src: url('greycliffcf-demibold-webfont.eot');
    src: url('greycliffcf-demibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-demibold-webfont.woff2') format('woff2'),
        url('greycliffcf-demibold-webfont.woff') format('woff'),
        url('greycliffcf-demibold-webfont.ttf') format('truetype'),
        url('greycliffcf-demibold-webfont.svg#greycliff-cf-demibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'greycliff-cf';
    src: url('greycliffcf-medium-webfont.eot');
    src: url('greycliffcf-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-medium-webfont.woff2') format('woff2'),
        url('greycliffcf-medium-webfont.woff') format('woff'),
        url('greycliffcf-medium-webfont.ttf') format('truetype'),
        url('greycliffcf-medium-webfont.svg#greycliff-cf-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'greycliff-cf';
    src: url('greycliffcf-regular-webfont.eot');
    src: url('greycliffcf-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-regular-webfont.woff2') format('woff2'),
        url('greycliffcf-regular-webfont.woff') format('woff'),
        url('greycliffcf-regular-webfont.ttf') format('truetype'),
        url('greycliffcf-regular-webfont.svg#greycliff-cf-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'greycliff-cf';
    src: url('greycliffcf-light-webfont.eot');
    src: url('greycliffcf-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('greycliffcf-light-webfont.woff2') format('woff2'),
        url('greycliffcf-light-webfont.woff') format('woff'),
        url('greycliffcf-light-webfont.ttf') format('truetype'),
        url('greycliffcf-light-webfont.svg#greycliff-cf-light') format('svg');
    font-weight: 300;
    font-style: normal;
}